@{
    ViewData["Title"] = "LoggedOut";
}

<div class="row">
    <div class="mt-2 mb-4 col text-center">
        <h3>You have successfully logged out.</h3>
    </div>
</div>
<div class="row">
    <div class="mt-5 col text-center">
        <p>Return to Login and Registration Page?</p>
        <a href="/" class="btn btn-outline-primary btn-lg">Return</a>
    </div>
</div>